body {
    font: 24px "Hiragino Sans GB", "Hiragino Sans GB W3", 微软雅黑;
}

.menu {
    margin: 100px auto;
    width: 600px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    background-color: #0a8cd2;
    padding: 0;
}

.menu ul:after {
    content: "";
    clear: both;
    visibility: hidden;
    display: block;
}

.item {
    text-align: center;
    background-color: #0a8cd2;
    color: #fff;
    margin-right: 6px;
    margin-left: 6px;
    padding: 6px;
    width: 80px;
    height: 24px;
    position: relative;
    display: inline-block;
    z-index: 1001;
    line-height: 24px;
}

.item-last:after {
    content: ".";
    clear: both;
    visibility: hidden;
}

.item:hover {
    cursor: pointer;
}

.item ul {
    display: none;
    text-align: left;
    position: absolute;
    left: 0px;
    top: 36px;
    width: 110px;
    z-index: 9999;
    color: #fff;
    background: #0a8cd2;
    margin: 0;
    padding: 0;
    padding: 5px 0 2px 5px;
}

.item ul li {
    margin: 2px auto;
    border-bottom: 1px solid #fff;
    padding: 6px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
}