.tab-container {
    padding: 0;
    width: 600px;
    height: 300px;
    border: 1px solid dodgerblue;
}

.tab-container .tab-head {
    height: 100%;
    width: 100px;
    float: left;
}

.tab-container .tab-head ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.tab-container .tab-head ul li {
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
.tab-container .tab-head ul li.active{
    background-color: #fff;
    color: dodgerblue;
}
.tab-container .tab-head ul li:hover {
    cursor: pointer;
}

.tab-panel {
    float: left;
    height: 100%;
    width: 500px;
}

.tab-panel .tab-one {
    background-color: #fff;
    width: 492px;
    height: 292px;
    padding: 4px;
}

.tab-panel .tab-one:not(.active) {
    display: none;
}
