.calendar {
    background-color: #ffffff;
}

.calendar table {
    width: 100%;
}

.calendar table td {
    text-align: center;
    padding: 6px;
    border-radius: 6px;
}

.calendar table .active {
    color: #ffffff;
    background-color: #006dcc;
}

.calendar table .prev,
.calendar table .next {
    color: #eee;
}

.calendar table .current:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #006dcc;
}

.calendar i:hover {
    color: #006dcc;
    cursor: pointer;
}